{% extends "layout.html" %} {% block title %} Leagues {% endblock %} {% block main %}
<h1>Select a league</h1>
<table class="table">
    <thead>
        <tr>
            <th>League name</th>
            <th>Table</th>
            <th>Fixtures</th>
        </tr>
    </thead>
    {% if not leagues %}
    <tbody>
        <tr>
            <td>There aren't any leagues registered in the database</td>
        </tr>
    </tbody>
    {% else %} {% for league in leagues %}
    <tbody>
        <tr>
            <td>{{ league["leaguename"] }}</td>
            <td><a class="nav-link" href="/table/{{ league['leaguename'] }}">View table</a></td>
            <td><a class="nav-link" href="/fixtures/{{ league['leaguename'] }}">View fixtures</a></td>
        </tr>
    </tbody>
    {% endfor %} {% endif %}
</table>
{% endblock %}